snippet cc
	/* ============================================================================
	   Section ${1}
	   ========================================================================= */

	${0}
snippet cs
	/* Sub-section ${1}
	   ========================================================================= */

	${0}
