snippet ngbe
	beforeEach(inject(function(${1:arguments}) {
	  ${0}
	}));
snippet ngbm
	beforeEach(module('${0:module}'));

snippet ngtest
    (funtion () {
        'use strict';

        describe('${1}', function() {
            ${0}

            beforeEach(module('${2}'));

            beforeEach(inject(function($injector) {

            }));
        });
    })();
