# Mocha snippets
snippet it
	it('${1}', function() {
	    ${0}
	});
snippet itd
	it('${1}', function(done) {
	    ${0}
	});
snippet des
	describe('${1}', function() {
	    ${0}
	});
snippet be
	beforeEach(function() {
	    ${0}
	});
snippet bed
	beforeEach(function(done) {
	    ${0}
	});
snippet ae
	afterEach(function() {
	    ${0}
	});
snippet aed
	afterEach(function(done) {
	    ${0}
	});
